<meta charset="UTF-8">
<title>Sample Project</title>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
    body {padding-top: 50px;}
</style>